---
import Layout from '../layouts/BlogPost.astro';
import '../styles/loading.css';
import '../styles/sub-page.css';
import '../styles/global.css';
---

<script>
  document.onreadystatechange = closeLoading //当页面加载状态改变时执行 closeLoading 函数
  function closeLoading() {
    if(document.readyState == "complete") 
      setTimeout(() => {
        document.getElementById('loading-page').style.visibility="hidden";
      }, 1000); //每次加载完成后延时 1s 隐藏 loading page
    else {document.getElementById('loading-page').style.visibility="visible";}
  }
</script>
<title>Home | DUT - iGEM 2024</title>
<head>
<link rel="stylesheet" href="../styles/global.css">
</head>

<body>
	<!--Loading-->
	<div id='loading-page'>
  <!doctype html>
<html lang="en">

  <header>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <!-- Custom CSS -->
		<link rel="stylesheet" href="../styles/loading.css">

<title> | DUT - iGEM 2024</title>

</header>
<body>
<div class="loading-bg">&nbsp;</div>
<div class="loading">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>
<div class="loading-text">
  	<span style="color: #c696ff;font-size: 30px;">LOADING  <span style="font-size: 40px"><span class="dot-1" style="color: #c696ff">.</span><span class="dot-2" style="color: #fb96ff">.</span><span class="dot-3" style="color:#ffa3d7">.</span></span></span>
</div>
</body>
  </div>

<!-- 这个是模板的head部分 -->
<Layout
	title="Model"
	pubDate={new Date('September 02 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<!-- 侧面导航栏 -->
  <div class="side-menu" slot="side-menu">
		<div class="side-title"><li><a href="#first">first title</a></li></div>
		<div class="side-title">
    <li><a href="#second">second title</a></li>
    <li class="small">small title1</li>
    <li class="small">small title2</li>
    </div>
		<div class="side-title"><li>third title</li></div>
		<div class="side-title"><li>last title</li></div>
	</div>

<!-- 正文部分 -->
<h3 id="first">hello,first title</h3>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<h3 id="second">hello,second title</h3>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
<p>hello,please give me some content</p>
</Layout>